{% extends "base.html" %}

{% block style %}
<style> 
    @media (min-width: 500px) {
        .feedback {position: fixed;}
    }
</style>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row align-items-center mt-5" style="height:100%">
        <div class="col">
            <div class="row mx-auto pt-5">
                <div class="col">
                    <h1 class="display-5 text-center title">Welcome to RoomieMatter!</h1>
                </div>
            </div>
            <div class="row mx-auto mt-4">
                <div class="roomie mx-auto text-left col-lg-7 col-sm-10" style="font-size: larger;">
                    <p>Say goodbye to roommate communication inconvenience and hello to seamless living with RoomieMatter! Our platform is designed to help you communicate with your roommates in the most efficient way possible.</p>
                </div>
            </div>
            <div class="row mx-auto mt-4">
                <div class="roomie mx-auto text-left col-lg-6 col-sm-9" style="font-size: larger;">
                    <p> <i class="fa-solid fa-microchip"></i> RoomieButton: Our intuitive IoT device allows you to update your status with the press of a button.</p>
                    <p class="mt-1"><i class="fa-solid fa-broom"></i> Chore tracking: Assign and keep track of chores to make sure everyone is pitching in.</p>
                    <p class="mt-1"><i class="fa-solid fa-money-check-dollar"></i> Money management tool: Easily keep track of expenses and who owes what.</p>
                    <p class="mt-1"><i class="fa-solid fa-cart-shopping"></i> Shared grocery list: Simplify shopping by collaborating on a single list for all roommates, reducing the number of trips needed to the store.</p>
                    <p class="mt-1"> <i class="fa-solid fa-calendar-days"></i> Laundry, shower, and kitchen scheduling: Our scheduling tools help keep everyone on the same page.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="row mx-auto fixed-lg-bottom">
            <p class="feedback cuteFont_small">feedbacks: davidwxy@umich.edu</p>
        </div>
    </div>
</div>
{% endblock %}
