<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>RoomieMatter</title>
        <!-- Bootstrap Core CSS ––––––––––––––––––––––––––– -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" /> -->
        <script   src="https://code.jquery.com/jquery-3.6.3.js"   integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="   crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <!-- Custom CSS ––––––––––––––––––––––––––– -->
        <link href="/static/css/style.css" rel="stylesheet">
        <!-- fontawesome ––––––––––––––––––––––––––– -->
        <script src="https://kit.fontawesome.com/5c9f2dfb26.js"></script>
        <!-- To add a google font and paste the link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="/static/images/favicon.ico">
        {% block style %}{% endblock %}
    </head>
    
    <body data-spy="scroll" data-target=".navbar" data-offset="100">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#497aa6">
            <a class="navbar-brand page-scroll logo" style="color: white" href="/">RoomieMatter</a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--        Try justify-content-start, justify-content-end or justify-content-between, justify-content-around to see different layout styles for the navigation.-->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto">
                        <a class="nav-link page-scroll" href="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto">
                        <a class="nav-link page-scroll" href="/">Room</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto">
                        <a class="nav-link page-scroll" href="/tasks">Tasks</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto">
                        <a class="nav-link page-scroll" href="/money">Money</a>
                    </li>
                    <li class="nav-item dropdown mx-auto">
                        <a class="nav-link page-scroll dropdown-toggle" href="#" data-bs-toggle="dropdown"> Schedule </a>
                            <div class="dropdown-menu mx-auto">
                                <a class="dropdown-item" href="/schedule" class="mx-auto">shower</a>
                                <a class="dropdown-item" href="/schedule" class="mx-auto">laundry</a>
                                <a class="dropdown-item" href="/schedule" class="mx-auto">cooking</a>
                            </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto">
                        <a class="nav-link page-scroll" href="/profile">Account</a>
                    </li>
                </ul>
        
        
                <!-- <ul class="navbar-nav flex-row"> -->
                    <!--Add any extra nav items to the-->
                    <!-- <li class="nav-item pr-2">
                        <a class="social" href="#"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="social" href="#"><i class="fab fa-twitter-square"></i></a>
                    </li> -->
                <!-- </ul> -->
            </div>
        </nav>
        {% block content required %}{% endblock %}
        <p id="feedback" class="cuteFont_small">feedbacks: davidwxy@umich.edu</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>

