{% extends "base.html" %}
{% block content %}
    <p class="main80" style="margin-top: 15%">Edit Profile</p>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/accounts" method="post" enctype="multipart/form-data" style="text-align: center;">
        <div style="white-space:nowrap; margin-top: 5px;">
            <label class="roomie" style="font-weight: 1000;">
                Username:
            </label>
            <input id="username" class="cuteForm" type="text" name="username" value="{{username}}" required/>
        </div>
        <div style="white-space:nowrap; margin-top: 5px;">
            <label class="roomie" style="font-weight: 1000">
                Name:
            </label>
            <input id="name" class="cuteForm" type="text" name="name" value="{{name}}" required/>
        </div>
        <div style="white-space:nowrap; margin-top: 5px;">
            <label class="roomie" style="font-weight: 1000">
                Email:
            </label>
            <input id="email" class="cuteForm" type="text" name="email" value="{{email}}" required/>
        </div>
        <div style="white-space:nowrap; margin-top: 5px;">
            <label class="roomie" style="font-weight: 1000">
                Room Name:
            </label>
            <input id="room" class="cuteForm" type="text" name="room" value="{{room}}" required/>
        </div>
        <input class="cuteButton" style="margin-top: 5px;" type="submit" value="Submit"/>
        <input type="hidden" name="operation" value="changeProfile"/>
    </form>
{% endblock %}
