<!DOCTYPE html>
<html>
<head>
    <title>RoomieMatter</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-color: #0099ff">
    <a href="/"><p class="logo">RoomieMatter</p></a>
    <form class="top_right" action="/accounts/logout" method="post" enctype="multipart/form-data">
        <input class="logout" type="submit" name="logout" value="logout"/>
    </form>
    <p class="cuteFont_medium" style="text-align: right">{{username}}</p>
    <div style="text-align: center">
        <p class="main80" style="margin-top: 22%">Create a Room!</p>
        <form action="/createroom" method="post" enctype="multipart/form-data">
                <div>
                    <input class="cuteForm" type="text" name="roomname" placeholder="Room Name" required/>
                </div>
                    <input class="cuteButton" type="submit" value="Create"/>
        </form>
    </div>
    <p class="bottom_left cuteFont_small">feedbacks plz: davidwxy@umich.edu</p>
</body>
</html>