{% extends "base.html" %}
{% block content %}

{% if room_requested %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <h1 class="display-1 text-center message">Awaiting approval from {{room_requested}}...</h1>
        </div>
    </div>
{% else %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col">
                <div class= "row mx-auto">
                    <div class="col">
                        <div class="text-center" id="reactEntry_indexPage"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
                    </div>
                </div>
                <div class= "row mx-auto w-25">
                    <div class="col">
                        {% if has_pending_requests %}
                            <form class="center" action="/viewrequests" method="get" enctype="multipart/form-data" style="margin-top: 30px">
                                <input class="cuteButton" type="submit" name="view" value="View Join Requests"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>     
        </div>
    </div>
{% endif %}

{% endblock %}

