{% extends "base.html" %}
{% block content %}
    <a href="/"><p class="logo">RoomieMatter</p></a>
    {% if joined %}
        <div style="text-align: center;" id="reactEntry_indexPage" style="margin-top: 20%"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        {% if has_pending_requests %}
            <form class="center" action="/viewrequests" method="get" enctype="multipart/form-data" style="margin-top: 30px">
                <input class="cuteButton" type="submit" name="view" value="View Join Requests"/>
            </form>
        {% endif %}
    {% else %}
        <form action="/request" method="get" enctype="multipart/form-data" class="main80" style="margin-top:20%">
            <input class="cuteButton" type="submit" value="Request to join a room"/>
        </form>
        <form action="/createroom" method="get" enctype="multipart/form-data" style="text-align:center; margin-top:20px">
            <input class="cuteButton" type="submit" value="Create a room"/>
        </form>
    {% endif %}
{% endblock %}

