{% extends "base.html" %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    window.onbeforeunload = function() {
        sessionStorage.setItem("username", $('#username').val());
    }
    window.onload = function() {
        let username = sessionStorage.getItem("username");
        if (username !== null) $('#username').val(username);
    }
</script>
{% endblock %}
{% block content %}
    <div style="text-align: center">
        <p class="main80" style="margin-top:20%">Login</p>
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <form action="/accounts" method="post" enctype="multipart/form-data">
                <div>
                    <input id="username" class="cuteForm" type="text" name="username" placeholder="Username" required/>
                </div>
                <div>
                    <input class ="cuteForm" type="password" name="password" placeholder="Password" required/>
                </div>
                    <input class="cuteButton" type="submit" value="Login"/>
                    <input type="hidden" name="operation" value="login"/>
        </form>
    </div>
{% endblock %}