{% extends "base.html" %}
{% block content %}
        <p class="main80" style="margin-top: 15%">Your Profile</p>

        <p class="roomie">
            <span style="font-weight: 1000">Username: </span>
            {{username}}
        </p>

        <p class="roomie">
            <span style="font-weight: 1000">Name: </span>
            {{name}}
        </p>

        <p class="roomie">
            <span style="font-weight: 1000">Email: </span>
            {{email}}
        </p>

        <p class="roomie">
            <span style="font-weight: 1000">Room: </span>
            {{room}}
        </p>

        <form class="center" action="/changeProfile" method="get" enctype="multipart/form-data">
            <input class="logout" type="submit" value="Change"/>
        </form>
        <form class="center" action="/accounts/logout" method="post" enctype="multipart/form-data">
            <input class="logout" type="submit" value="Logout"/>
        </form>
        <form class="top_right" style="top: 20px" action="/accounts/" method="post" enctype="multipart/form-data">
            <input class="logout" type="submit" name="exit" value="Exit Room"/>
            <input type="hidden" name="operation" value="exitRoom"/>
        </form>

{% endblock %}
