{% extends "base.html" %}
{% block content %}
    <div style="text-align: center">
        <p class="main80" style="margin-top: 22%">Join A Room!</p>
        <form action="/request" method="post" enctype="multipart/form-data">
            <div>
                <input class="cuteForm" type="text" name="roomname" placeholder="Room Name" required/>
            </div>
                <input class="cuteButton" type="submit" value="Request" style="margin-top: 5px"/>
        </form>
    </div>
{% endblock %}