<!DOCTYPE html>
<html>
<head>
    <title>RoomieMatter</title>
<style>
    h1 {
        text-align: center;
        margin-top: 25%;
        font-family: avenir;
        font-size: 50px;
        color:white;
    }

    p {
        font-size: 100px;
    }

    .cuteForm {
                text-align: center;
                font-family: avenir;
                font-size: 80px;
                color:white;
    }
</style>
</head>
<body style="background-color: #0099ff">
    <div style="text-align: center">
        <h1>LUV UUUUUU &lt3</h1>
        <p>🐑🐏🐑</p>
    </div>
    <form class="cuteForm" action="/accounts/logout" method="post" enctype="multipart/form-data">
        <input type="submit" name="delete" value="logout"/>
    </form>
</body>
</html>