<!DOCTYPE html>
<html>
<head>
    <title>RoomieMatter</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        window.onbeforeunload = function() {
            sessionStorage.setItem("username", $('#username').val());
            sessionStorage.setItem("name", $('#name').val());
            sessionStorage.setItem("email", $('#email').val());
            sessionStorage.setItem("password1", $('#password1').val());
            sessionStorage.setItem("password2", $('#password2').val());
        }
        window.onload = function() {
            let username = sessionStorage.getItem("username");
            if (username !== null) $('#username').val(username);
            let name = sessionStorage.getItem("name");
            if (name !== null) $('#name').val(name);
            let email = sessionStorage.getItem("email");
            if (email !== null) $('#email').val(email);
            let password1 = sessionStorage.getItem("password1");
            if (password1 !== null) $('#password1').val(password1);
            let password2 = sessionStorage.getItem("password2");
            if (password2 !== null) $('#password2').val(password2);
        }
    </script>
</head>
<body style="background-color: #497aa6">
    <a href="/"><p class="logo">RoomieMatter</p></a>
    <div style="text-align: center">
        <p class="main80" style="margin-top: 18%;">Signup</p>
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <form action="/accounts/" method="post" enctype="multipart/form-data">
                <div>
                    <input id="username" class="cuteForm" type="text" name="username" placeholder="Username" required/>
                </div>
                <div>
                    <input id="name" class="cuteForm" type="text" name="name" placeholder="Your Name" required/>
                </div>
                <div>
                    <input id="email" class="cuteForm" type="text" name="email" placeholder="Email" required/>

                <div>
                    <input id="password1" class ="cuteForm" type="password" name="password1" placeholder="Password" required/>
                </div>
                <div>
                    <input id="password2" class ="cuteForm" type="password" name="password2" placeholder="Re-enter Password" required/>
                </div>
                    <input class="cuteButton" type="submit" value="Signup"/>
                    <input type="hidden" name="operation" value="signup"/>
        </form>
    </div>
    <p class="bottom_left cuteFont_small">feedbacks plz: davidwxy@umich.edu</p>
</body>
</html>