<!DOCTYPE html>
<html>
<head>
    <title>RoomieMatter</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico">
</head>
<body style="background-color: #0099ff">
    <a href="/"><p class="logo">RoomieMatter</p></a>
    <div style="text-align: center">
        <p class="main80" style="margin-top: 18%;">Signup</p>
        <h1 class="alert">Do not use real emails and passwords. Not secure yet!</h1>
        <form action="/accounts/" method="post" enctype="multipart/form-data">
                <div>
                    <input class="cuteForm" type="text" name="username" placeholder="Username" required/>
                </div>
                <div>
                    <input class="cuteForm" type="text" name="name" placeholder="Your Name" required/>
                </div>
                <div>
                    <input class="cuteForm" type="text" name="email" placeholder="Email" required/>

                <div>
                    <input class ="cuteForm" type="password" name="password1" placeholder="Password" required/>
                </div>
                <div>
                    <input class ="cuteForm" type="password" name="password2" placeholder="Re-enter Password" required/>
                </div>
                    <input class="cuteButton" type="submit" value="Signup"/>
                    <input type="hidden" name="operation" value="signup"/>
        </form>
    </div>
    <p class="bottom_left cuteFont_small">feedbacks plz: davidwxy@umich.edu</p>
</body>
</html>