<!DOCTYPE html>
<html>
    <head>
        <title>RoomieMatter</title>
        <style>
            h1 {
                text-align: center;
                margin-top: 25%;
                font-family: avenir;
                font-size: 80px;
                color:white;
            }

            a {
                text-decoration: none;
                color: white;
                font-family: avenir;
                font-size: 30px;
            }

            .center {
                text-align: center;
            }
        </style>
    </head>
    <body style="background-color: #0099ff">
        <h1>This Is RoomieMatter</h1>
            <a href="https://docs.google.com/presentation/d/172V2Z67Hw1hbHei56_m5pOsnYBS_34WVUlvM8qvmBPA/edit#slide=id.p"><p class="center">slides</p></a>
            <a href="/signup" style="font-family: avenir; color: white" style="text-align: center"><p class="center">signup</p></a>
            <a href="/login" style="font-family: avenir; color: white"><p class="center">login</p></a>
    </body>
</html>

