body{
    background-color:  #497aa6;
}
.nav-link {
    padding-top: 20px;
    color: white !important;
    font-size: 1.5rem;
    font-family: avenir-black;
}
/* hover????? */
.nav-link:hover {
    color:#fccf6e !important;
}
.dropdown-menu{
    background-color:#497aa6;
    border: none !important;
}
.dropdown-item{
    font-family: avenir-black;
    color: white;
}

.dropdown-item:hover{
    font-family: avenir-black;
    color: #fccf6e;
    background-color:#497aa6;
}

input {
    width: 100%;
    border: none;
}

::placeholder {
font: avenir;
font-size: 24px;
opacity: 1;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display:none; }
	.navbar .nav-item:hover .nav-link{  color:#fccf6e; border:none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; color:#497aa6!important;}
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.main80 {
    text-align: center;
    margin-top: 18%;
    font-family: avenir;
    font-size: 80px;
    font-weight: 1000;
    color:white;
}

.fontWeight1000 {
    font-weight: 1000;
}

.top30px {
    margin-top: 30px;
}

.main50 {
    text-align: center;
    margin-top: 25%;
    font-family: avenir;
    font-size: 50px;
    font-weight: 1000;
    color:white;
}

.logout {
    text-align: center;
    font-family: avenir;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 1000;
    color:#0099ff;
    background-color: white;
}

.cuteButton {
    background-color: white;
    border: none;
    font-family: avenir;
    font-weight: 800;
    color: #0099ff;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
}

.cuteButton:hover{
    background-color: #0099ff;
    color: white;
}

.dangerButton{
    background-color: #a30808 !important;
    color: white;
}

.roomie {
    font-family: avenir;
    color: white;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.self {
    font-family: avenir;
    color: white;
    font-weight: bolder;
}

.text-reg {
    font-family: avenir;
    font-weight: 1000;
    color:white;
}

.top_right {
    position: absolute;
    top: 95px;
    right: 16px;
    font-size: 18px;
}

.logo {
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: 1000;
    font-size: 30px;
    color: white;
    font-family: Impact;
}

.cuteForm {
    height: 30;
    font-family: avenir;
    font-size: 30px;
    border-radius: 8px;
}

.alert {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    font-family: avenir;
    color:white;
    font-weight: 2000;
}

.center {
    text-align: center;
    margin-top: 20px;
    font-family: avenir;
    font-size: 35px;
    font-weight: 1000;
    color:white;
}

a {
    text-decoration: none;
}

#feedback {
    position: fixed;
    bottom: 0px;
    left: 16px;
    font-size: 18px;
}

.cuteFont_small {
    font-family: avenir;
    font-size: 15px;
    font-weight: 1000;
    color:white;
}

.cuteFont_medium {
    font-family: avenir;
    font-size: 25px;
    font-weight: 1000;
    color:white;
}

.statusButton {
    background-color: white;
    border: none;
    font-family: avenir;
    font-weight: 800;
    color: #0099ff;
    padding: 10px 80px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
}

.margin_top_20 {
    margin-top: 20%;
}

.margin_top_27 {
    margin-top: 27%;
}

.cuteButton_small {
    background-color: white;
    border: none;
    font-family: avenir;
    font-weight: 800;
    color: #0099ff;
    padding: 4px 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
}

li {
    list-style: none;
}

.error {
    color: red;
    font-size: 20px;
    font-family: avenir;
    text-align: center;
}

html, body {
    height:100%;
}

.title {
    font-family: impact;
    color:white;
}

.message {
    font-family: avenir;
    color:white;
    font-weight: bold;
}